{% extends 'base/base.html' %}

{% block title %}
    登录
{% endblock %}

{% block body %}
        <div style="width: 600px">
        <h3>登录</h3>
        <form action="" method="post">
            {% csrf_token %}
             {{ login_form }}
            <button type="submit">登录</button>
            <a href="{% url 'users:register' %}"><button type="button">注册</button></a>
        </form>
        {% if login_form.errors %}
          <script>
            // 将错误文本合并成一句
            const errList = [
              {% for field, errs in login_form.errors.items %}
                {% for e in errs %}
                  "{{ e|escapejs }}",
                {% endfor %}
              {% endfor %}
            ];
            alert("提交失败！\n" + errList.join("\n"));
          </script>
        {% endif %}
    </div>
{% endblock %}