{% extends 'base/base.html' %}

{% block title %}
    注册
{% endblock %}

{% block body %}
    <div style="width: 600px">
        <h3>注册</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ register_form }}
            </div>

            <button type="submit">注册</button>
            <a href="{% url 'users:login' %}"><button type="button">登录</button></a>
        </form>
    </div>
    {% if register_form.errors %}
          <script>
            // 将错误文本合并成一句
            const errList = [
              {% for field, errs in register_form.errors.items %}
                {% for e in errs %}
                  "{{ e|escapejs }}",
                {% endfor %}
              {% endfor %}
            ];
            alert("提交失败！\n" + errList.join("\n"));
          </script>
    {% endif %}


{% endblock %}
{% block script %}
   <script>
   $('.captcha').click(function () {
        $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
        });
    });
   </script>
{% endblock %}

